body {
  background-color: black;
}
.App {
  text-align: center;
  width: 50rem;
  height: 60rem;
  background-color: crimson;
}
h1 {
  color: cornsilk;

}
p {
  color: orange;
}

.movies {
  text-align: left;
  color: orange;
  width: 10rem;
  height: 2rem;
}

.poster {
  background-color: palegreen;
  width: 33rem;
  height: 33rem;
}


a {
  text-decoration: none;
  color: greenyellow;
}

.form {
  width: 20rem;
  background-color: beige;
  color: palevioletred;
  margin: 5rem;
  padding: 1rem 2rem;
  border-radius: 20px;
  
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.row {
  display: flex;
  flex-direction: row;
}

.review {
  text-align: left;
  color: black;
  
}

.reviews {
  background-color: blanchedalmond;
  border-radius: 20px;
}
